exportPattern("^[[:alpha:]]+")
import("stringi")
importFrom("yaml", "as.yaml", "yaml.load_file")
importFrom("stats", "na.omit")
importFrom("utils", "head", "read.table", "tail", "write.table", "data")
import("docopt")
importFrom("shiny", "runApp")